div{
    align-items: center;
    margin: 10px; 
    border-radius: 20px;
    width: 200px;
    height: 409px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0.1);
    text-align: center;
}
.dd{
    margin: 15px;
    float: left;
    padding-top: 10px;
}
img{
    border-radius: 20px;
    height: 180px;
    width: 100%;
}

h3{
    margin-bottom: 5px;
    font-weight: bold;

}
p{
    color: rgb(249, 108, 188);
    margin-bottom: 10px;
}
.checked {
    color: orange;
}
button{
    border: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: 0;
    padding: 15px;
    color: rgb(249, 108, 188);
    background-color: #000000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: monospace;
}